# Documentation requirements for TMD Processor

# For building and serving documentation
mkdocs==1.5.3
mkdocs-material==9.4.14
mkdocstrings>=0.20.0
mkdocstrings-python>=1.0.0
pymdown-extensions>=9.0
pygments>=2.13.0
mkdocs-git-revision-date-localized-plugin>=1.0.0
